@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northwind Customers For Shobhit</h1>
    <p class="lead">ASP MVC Creates Database Applications</p>
    <p><a href="/Customers" class="btn btn-primary btn-lg">Click Here To View Customers</a></p>
</div>