@page
@model CustomerListAndAddModel
@{
}

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Sparta</a>
    </nav>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-auto">
                Page 1
            </li>
            <li class="nav-item mr-auto">
                Page 2
            </li>
            <li class="nav-item mr-auto">
                Page 3
            </li>
        </ul>
    </div>
</div>
