@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">


        <a id="login-button" href='@Url.Action("Login", "Users")' class="btn btn-primary btn-lg">Log in  &raquo;</a>


    </div>

<div class="row">

</div>