<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div>
        <h1>Here is _Layout title</h1>
        <h2>Here is _Layout text </h2>
        <a href="/">Home</a> ----- <a href="Page2"> Page 2 </a>
        @RenderBody()
        <p>Here is _Layout footer</p>
    </div>
</body>
</html>
